<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Optimized Images</title>
</head>
<body>
<h2>
    My 3 Optimized Images
</h2>
<h3>First Image</h3>
<p>Original size was 1920 x 1440 @ 803KB</p>
<p>Size shown is 400 x 300 @574 or a 28% compression </p>
<img src="/template/img/roadtrip1-min.jpg" width="400" height="300" alt="">


<h3>Second Image</h3>
<p>Original size was 1920 x 1080 @ 744KB</p>
<p>Size shown is 600 x 338 @564 or a 24% compression </p>
<img src="/template/img/roadtrip2-min.jpg" width="600" height="338" alt="">


<h3>Third Image</h3>
<p>Original size was 1920 x 1280 @ 702KB</p>
<p>Size shown is 600 x 400 @509 or a 27% compression </p>
<img src="/template/img/roadtrip3-min.jpg" width="600" height="400" alt="">

    
</body>
</html>